@model eCommDemo.Controllers.ThankYouModel

@{
    ViewBag.Title = "ThankYou";
}

<h2>Thank You</h2>

<h4>Your order number is @Model.OrderNumber</h4>
<div>You will soon receive an email confirmation.</div>