@model eCommDemo.Controllers.CategoriesModel

@{
    ViewBag.Title = "Categories";
}

@section styles{
    <style>
        div.cat-wrapper { width: 100% }
        div.div-categories {width: 1200px;margin: auto; }
        div.div-categories div {float: left;margin: 10px;}
        div.div-categories div span { font-size: larger; font-weight: bold }
    </style>
}

<h2>Categories</h2>

<div class="cat-wrapper clearfix">
    <div class="div-categories">
        @foreach (var item in Model.Categories)
        {
            <div>
                <a href="/Listings/Index/@item.Id">
                    <img src="@item.Image"/>
                    <br/>
                    <span>@item.Name</span>
                </a>
            </div>
        }
    </div>
</div>
<div class="clearfix"></div>