@model eCommDemo.Controllers.CartModel

@{
    ViewBag.Title = "Cart";
}

<h2>Cart</h2>

<div>
    <div>
        <a href="/Checkout/Index"><img src="/Images/checkout.png" alt="Checkout" /></a>
    </div>
</div>